<div class="container">
    <img class="project-image" [src]="project?.imageUrl" [alt]="project?.name">
  
    <div class="row">
      <div class="col-md-11">
        <h2>{{project?.name}} </h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div><strong>Date:</strong> {{project?.date}}</div>
        <div><strong>Time:</strong> {{project?.time}}</div>
        <div><strong>Price:</strong> ${{project?.price}}</div>
      </div>
      <div class="col-md-6">
        <address>
          <strong>Address:</strong><br />
          {{project?.location?.address}}<br />
          {{project?.location?.city}}, {{project?.location?.country}}
        </address>
      </div>
    </div>

    <hr/>

    <session-list [sessions]="project?.sessions"></session-list>

  </div>