/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
  background:#000;
}
.hoverwell {background:#000;border:1px solid #275382;transition:.2s;}
.hoverwell:hover {
    background: #ffffff;
    color:#000;
    cursor: pointer;
  }

  .container {
    padding-top: 10px;
  }
  
  .pointable {
    cursor: pointer;
  }
  
  button {
    color: #555;
  }
  
  [hidden] {
    display: none !important;
  }
  
  .toast-success {
    background-color: #51a351;
  }
  .toast-error {
    background-color: #bd362f;
  }
  .toast-info {
    background-color: #2f96b4;
  }
  .toast-warning {
    background-color: #f89406;
  }

